@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: var(--color-teal);
  --foreground: var(--color-white);

  --color-white: #FFFFFF;
  --color-dark-blue: #001524;
  --color-teal: #15616D;  
  --color-cream: #FFECD1;
  --color-orange: #FF7D00;     
  --color-brown: #78290F; 
  --color-gold: #FAB91F;

  
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
